<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reversecoder.mh">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.AboveSoundApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name="com.reversecoder.mh.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name="com.reversecoder.mh.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.FabulousFilter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.reversecoder.permission.activity.PermissionListActivity"
            android:label="@string/app_name_rc_permission"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Permission" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.SignUpActivity"
            android:label="Sign Up"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ZoneActivity"
            android:label="@string/title_activity_zone"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.reversecoder.mh.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.reversecoder.mh.activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.reversecoder.mh.activity.OwnMusicListActivity"
            android:label="@string/title_activity_own_music_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.reversecoder.mh.activity.BoughtMusicListActivity"
            android:label="@string/title_activity_bought_music_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.reversecoder.mh.paypal.PayPalActivity"
            android:label="@string/title_activity_paypal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.reversecoder.mh.service.MediaService"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>
